body {
    background-color: #80ccff; /* תכלת */
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    color: white;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    border: 2px solid #0066cc; /* תכלת כהה */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.screen {
    background-color: #e6f2ff; /* תכלת בהירה */
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #0066cc; /* תכלת כהה */
}

.screen input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    border: none;
    background-color: #0066cc; /* תכלת כהה */
    color: white;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #004080; /* תכלת כהה יותר */
}

footer {
    text-align: center;
    margin-top: 50px;
    color: white;
}
